---
import BaseLayout from '~/layouts/BaseLayout.astro';
import SiteSearch from '~/components/SiteSearch.astro';
import { getArchivesPage } from '~/archives';

const title = 'Page Not Found';
---

<BaseLayout {title} type="404">
	<h1 class="with-top-margin">{title}</h1>
	<p>Sorry, but the page you were trying to view does not exist.</p>
	<p>
		Please double check the URL, or visit our <a href="/">home page</a> or <a
			href={getArchivesPage()}>full archives</a
		>, or use the search below.
	</p>
	<SiteSearch />
</BaseLayout>
