---
/**
 * List of archive pages
 */
import { type CollectionEntry } from 'astro:content';

import { titleDate } from '~/util/titles';

interface Props {
	list: CollectionEntry<'archives'>[];
}

const { list } = Astro.props;
---

<ul class="archives-list">
	{
		list.map((entry) => (
			<li>
				{entry.data.showDate ? (
					<a class="archives-link" href={`/${entry.id}`}>
						<span class="underline">{entry.data.title}</span>
						<span class="archives-date">{' - ' + titleDate(entry.data.date)}</span>
					</a>
				) : (
					<a href={`/${entry.id}`}>{entry.data.title}</a>
				)}
			</li>
		))
	}
</ul>
